:root {
  --color-dark: #1c1d20;
  --color-dark-dark: #141517;
  --color-light: #ffffff;
  --color-blue: #455ce9;
  --color-blue-dark: #334bd3;
  --color-gray: #999d9e;
  --color-lightgray: #e9eaeb;
  --color-white: #ffffff;

  --color-border: rgba(28, 29, 32, 0.175);
  --color-border-solid: #d2d2d2;
  --color-border-light: rgba(255, 255, 255, 0.2);
  --color-border-solid-light: #545557;

  --color-text: #1c1d20;
  --color-text-light: #fff;

  --alert-error: #ff4444;
  --alert-success: #24c958;

  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);

  --section-padding: clamp(5em, 21vh, 12em);
  --container-padding: clamp(2.5em, 8vw, 8em);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

/* ------------------------- Home - Header -------------------------------------------------- */

.home-header {
  min-height: 115vh;
  display: flex;
  align-items: center;
  background: var(--color-gray);
  overflow: hidden;
}

.home-header .personal-image-wrap {
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.home-header .personal-image {
  top: -10%;
  width: 100%;
  height: 110%;
  background: var(--color-gray);
}

.home-header .personal-image img {
  width: auto;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.home-header .big-name {
  position: absolute;
  bottom: 15vh;
  left: 0;
  width: 100%;
  padding-bottom: calc(var(--gap-padding) * 1.25);
}

.home-header .big-name .name-h1 {
  position: relative;
  display: flex;
  width: 100%;
}

.home-header .big-name .name-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.home-header .big-name .name-wrap .spacer {
  padding: 0 3vw;
}

.home-header .big-name h1 {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-white);
  line-height: 1;
  font-size: 17.5vw;
  font-size: max(9em, 15vw);
  white-space: nowrap;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.home-header .container {
  width: 100%;
  padding-bottom: 15vh;
}

.home-header .row {
  justify-content: flex-end;
}

.home-header .row .flex-col {
  width: auto;
}

.home-header .row .flex-col .header-above-h4 {
  top: -12.5vh;
  position: absolute;
}

.home-header .row .flex-col .header-above-h4 svg {
  width: clamp(1.1em, 1.3vw, 1.25em);
}

.home-header .row .flex-col h4 {
  line-height: 1.4;
  margin-bottom: 0;
}

.home-header .row .flex-col h4 span {
  display: block;
}

.home-header .get-height {
  height: 100vh;
}

.home-header .hanger {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.home-header .hanger svg {
  width: auto;
  height: 6em;
}

.home-header .hanger p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 5em;
  padding-left: var(--gap-padding);
  line-height: 1.2;
}

.home-header .hanger p span {
  display: block;
}

.home-header .white-block {
  position: absolute;
  height: 30vh;
  width: 50vw;
  top: 115vh;
  right: 0;
  background: var(--color-white);
  display: none;
}

.home-header .hanger .digital-ball {
  z-index: 500;
  position: absolute;
  right: 0.9em;
  left: auto;
  top: 0.9em;
  width: 4.2em;
  height: 4.2em;
  transform: translate(0%, 0%);
  background: transparent;
}

.home-header .hanger .digital-ball .globe {
  width: 2.5em;
  height: 2.5em;
  font-size: 0.8em;
}

@media screen and (max-width: 720px) {
  .home-header {
    min-height: 110vh;
    min-height: calc(var(--vh, 1vh) * 110);
    max-height: 110vh;
    align-items: flex-end;
    padding-top: calc(var(--gap-padding) * 2);
    padding-bottom: calc(var(--gap-padding) * 2);
  }

  .home-header .personal-image {
    top: -5%;
    height: 105%;
  }

  .home-header .big-name {
    position: absolute;
    bottom: calc(var(--vh, 1vh) * 33);
    left: 0;
    width: 100%;
    padding-bottom: calc(var(--gap-padding) * 1.25);
  }

  .home-header .row {
    justify-content: flex-start;
  }

  .home-header .container {
    padding-bottom: calc(var(--vh, 1vh) * 9);
  }

  .home-header .row .flex-col .header-above-h4 {
    top: calc(var(--vh, 1vh) * -8);
    position: absolute;
  }

  .home-header .hanger {
    width: 6em;
    height: 6em;
    left: auto;
    right: 0;
    top: calc(var(--vh, 1vh) * 100);
    transform: translate(0, -110%);
  }

  .home-header .hanger svg,
  .home-header .hanger p {
    display: none;
  }

  .home-header .hanger .digital-ball .globe {
    width: 3em;
    height: 3em;
  }
}

/* ------------------------- Home - Intro -------------------------------------------------- */

.home-intro {
  padding-bottom: calc(var(--section-padding) * 0.66);
}

.home-intro .flex-col:nth-child(1) {
  width: 70%;
  padding-right: var(--gap-padding);
}

.home-intro .flex-col:nth-child(2) {
  width: 30%;
  padding-left: var(--gap-padding);
}

.home-intro .flex-col:nth-child(2) .btn {
  position: absolute;
  top: 80%;
}

.home-intro .flex-col:nth-child(2) p {
  margin-bottom: 6em;
  padding-top: 0.5em;
  max-width: 14em;
}

@media screen and (max-width: 720px) {
  .home-intro {
    padding-bottom: calc(var(--section-padding) * 1);
  }

  .home-intro .flex-col:nth-child(1) {
    width: 100%;
    padding-right: 0;
  }

  .home-intro .flex-col:nth-child(2) {
    width: 100%;
    padding-left: 0;
    max-width: 100%;
    padding: calc(var(--section-padding) / 2) 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .home-intro .flex-col:nth-child(2) .text-wrap {
    width: 100%;
  }

  .home-intro .flex-col:nth-child(2) p {
    margin-bottom: calc(var(--section-padding) * 0.66);
    padding-top: 0;
  }

  .home-intro .flex-col:nth-child(2) .btn {
    position: absolute;
    top: unset;
    bottom: 0;
    right: 0;
    transform: translate(-20%, 50%);
  }
}

/* ------------------------- Wrap Work Grid -------------------------------------------------- */

.section-wrap-work {
  background: var(--color-white);
}

/* ------------------------- Work Grid -------------------------------------------------- */

.work-grid .row {
  align-items: center;
  color: unset;
  text-decoration: unset;
  padding: calc(var(--section-padding) / 3) 0;
}

.work-grid .work-items li {
  transition: var(--animation-smooth);
}

.work-grid .work-items .flex-col:nth-child(1) {
  padding-left: calc(var(--container-padding) * 1);
  width: 44%;
}

.work-grid .work-items .flex-col:nth-child(2) {
  width: 20%;
  padding-top: 0.25em;
}

.work-grid .work-items .flex-col:nth-child(3) {
  width: 22%;
  padding-top: 0.25em;
}

.work-grid .work-items .flex-col:nth-child(4) {
  width: 14%;
  padding-top: 0.25em;
  padding-right: calc(var(--container-padding) * 1);
  text-align: right;
}

.work-grid .work-items h4 {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
  transition: var(--animation-fast);
  transform: translateX(0) rotate(0.001deg);
}

.work-grid .work-items h4 span {
  position: relative;
  display: block;
  padding: 0.1em 0;
}

.work-grid .work-items a:hover h4 {
  transform: translateX(calc(var(--container-padding) * -0.1)) rotate(0.001deg);
}

.work-grid .work-items a p {
  transition: var(--animation-fast);
  transform: translateX(0) rotate(0.001deg);
}

.work-grid .work-items a:hover p {
  transform: translateX(calc(var(--container-padding) * 0.1)) rotate(0.001deg);
}

.work-grid .work-items li a {
  transition: var(--animation-fast);
}

.work-grid .work-items:hover a {
  opacity: 1;
}

.work-grid .work-items a:hover {
  opacity: 0.33;
}

/* ------------------------- Work Grid - Large -------------------------------------------------- */

.large-work-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.large-work-grid .work-items h4 {
  font-size: calc(clamp(3.25em, 7vw, 8em) * 0.75);
}

.large-work-grid .row {
  padding: calc(var(--section-padding) / 3.5) 0 calc(var(--section-padding) / 3)
    0;
}

.large-work-grid .work-items .flex-col:nth-child(1) {
  padding-left: calc(var(--container-padding) * 1);
  width: 70%;
}

.large-work-grid .work-items .flex-col:nth-child(2) {
  width: 30%;
  padding-left: var(--gap-padding);
  padding-top: 1em;
  padding-right: calc(var(--container-padding) * 0.5);
}

@media screen and (max-width: 1024px) {
  .large-work-grid {
    display: none;
  }
}
/* ------------------------- Work Grid - Small -------------------------------------------------- */

.small-work-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.small-work-grid .row {
  padding: 2em 0 2em 0;
}

.small-work-grid .work-items li {
  max-height: 0;
  overflow: hidden;
}

.small-work-grid .work-items li.visible {
  max-height: calc(clamp(1.75em, 2.3vw, 2.5em) + 4.4em);
}

.small-work-grid .work-items {
  padding-bottom: calc(var(--section-padding) * 0.5);
}

@media screen and (max-width: 1024px) {
  .small-work-grid {
    display: none;
  }
}

/* ------------------------- Work Grid - Tiny -------------------------------------------------- */

.tiny-work-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.tiny-work-grid .row {
  padding: 2em 0 2em 0;
}

.tiny-work-grid .work-items {
  padding-bottom: calc(var(--section-padding) * 0.75);
}

.tiny-work-grid .arrow {
  position: absolute;
  right: var(--container-padding);
  transform: translateY(0.2em);
  background: var(--color-dark);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: none;
  align-content: center;
  justify-content: center;
}

.tiny-work-grid .arrow svg {
  width: 35%;
  transform: rotate(-90deg);
}

@media screen and (max-width: 1000px) {
  .archive-header h1 .count-nr {
    font-size: 0.45em;
  }

  .tiny-work-grid .container {
    padding: 0;
  }

  .tiny-work-grid .work-items a:hover {
    opacity: 1;
  }

  .tiny-work-grid .arrow {
    display: flex;
  }

  .tiny-work-grid .row {
    align-items: flex-start;
    padding: 2em 0 2.15em 0;
  }

  .tiny-work-grid .grid-sub-title .flex-col:nth-child(1) {
    display: none;
  }
  .tiny-work-grid .grid-sub-title .flex-col:nth-child(2) {
    width: 35% !important;
    order: 3;
  }
  .tiny-work-grid .grid-sub-title .flex-col:nth-child(3) {
    width: 52% !important;
    order: 2;
    padding-left: calc(var(--container-padding) * 1);
  }
  .tiny-work-grid .grid-sub-title .flex-col:nth-child(4) {
    width: 13% !important;
    order: 4;
  }

  .tiny-work-grid .work-items .flex-col:nth-child(1) {
    width: 100%;
    padding-bottom: 0.75em;
    order: 1;
  }
  .tiny-work-grid .work-items .flex-col:nth-child(2) {
    width: 35%;
    order: 3;
    padding-right: 1em;
  }
  .tiny-work-grid .work-items .flex-col:nth-child(3) {
    width: 52%;
    order: 2;
    padding-right: 1em;
    padding-left: calc(var(--container-padding) * 1);
  }
  .tiny-work-grid .work-items .flex-col:nth-child(4) {
    width: 13%;
    order: 4;
  }

  .tiny-work-grid .work-items a:hover h4 {
    transform: translateX(0) rotate(0.001deg);
  }

  .tiny-work-grid .work-items a:hover p {
    transform: translateX(0) rotate(0.001deg);
  }

  .tiny-work-grid .work-items p {
    font-size: 0.9em;
  }

  .tiny-work-grid .stripe {
    opacity: 0.75;
  }
}

@media screen and (max-width: 450px) {
  .tiny-work-grid .row {
    align-items: flex-start;
    padding: 1.9em 0 1.9em 0;
  }

  .tiny-work-grid .work-items .flex-col:nth-child(1) {
    padding-bottom: 0.5em;
  }

  .tiny-work-grid .work-items h4 {
    font-size: 1.3em;
  }

  .tiny-work-grid .work-items p {
    font-size: 0.8em;
  }

  .tiny-work-grid .arrow {
    transform: translateY(-0.2em);
  }
}

/* ------------------------- Work Grid - Sub Title Info -------------------------------------------------- */

.work-grid .grid-sub-title {
  width: 100%;
  display: flex;
  padding-bottom: var(--gap-padding);
}

.work-grid .grid-sub-title h5 {
  margin: 0;
  width: 100%;
}

.work-grid .grid-sub-title .flex-col:nth-child(1) {
  padding-left: calc(var(--container-padding) * 1);
  width: 44%;
  /* padding-left: var(--gap-padding); */
}

.work-grid .grid-sub-title .flex-col:nth-child(2) {
  width: 20%;
}

.work-grid .grid-sub-title .flex-col:nth-child(3) {
  width: 22%;
}

.work-grid .grid-sub-title .flex-col:nth-child(4) {
  width: 14%;
  padding-right: calc(var(--container-padding) * 1);
  text-align: right;
  /* padding-right: var(--gap-padding); */
}

/* ------------------------- Large Work Grid - Sub Title Info -------------------------------------------------- */

.large-work-grid .grid-sub-title .flex-col:nth-child(1) {
  padding-left: calc(var(--container-padding) * 1);
  width: 70%;
}

.large-work-grid .grid-sub-title .flex-col:nth-child(2) {
  width: 30%;
  padding-left: var(--gap-padding);
  padding-right: calc(var(--container-padding) * 1);
}

/* ------------------------- Work Grid - Filter Row -------------------------------------------------- */

.work-filters {
  margin-top: calc(var(--section-padding) * -0.25);
  padding-top: 0;
  padding-bottom: calc(var(--section-padding) / 2);
}

.work-filters .filter-row {
  width: 100%;
  padding: 0 var(--container-padding) 0 var(--container-padding);
  padding: 0 calc(var(--container-padding) * 0.96) 0
    calc(var(--container-padding) * 0.96);
  display: flex;
  justify-content: space-between;
}

.work-filters .filter-row .toggle-row {
  display: flex;
}

.work-filters .filter-row .toggle-row .btn {
  display: inline-flex;
  margin-right: 0.5em;
}

.work-filters .filter-row .grid-row {
  display: flex;
}

.work-filters .filter-row .grid-row .btn {
  display: inline-flex;
  margin-left: 0.5em;
}

@media screen and (max-width: 1024px) {
  .work-filters .filter-row .grid-row {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .work-filters .filter-row {
    padding: 0;
  }

  .work-filters .filter-row .toggle-row .btn .btn-text {
    margin-right: 0.15em;
  }
}

@media screen and (max-width: 460px) {
  .work-filters .filter-row .toggle-row .btn {
    font-size: 0.89em;
  }
}

@media screen and (max-width: 390px) {
  .work-filters .filter-row .toggle-row .btn {
    font-size: 0.83em;
  }
}

@media screen and (max-width: 380px) {
  .work-filters .filter-row .toggle-row .btn {
    font-size: 0.8em;
  }
}

/* ------------------------- Work Grid - After Center Btn -------------------------------------------------- */

.center-grid-btn {
  padding-top: calc(var(--section-padding) / 3);
  padding-bottom: calc(var(--section-padding) * 1);
}

.center-grid-btn-home {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: 0;
}

.center-grid-btn-archive {
  padding-top: 0;
  padding-bottom: calc(var(--section-padding) * 0.75);
}

.center-grid-btn .grid-after-btn {
  display: flex;
  justify-content: center;
}

.center-grid-btn .grid-after-btn .btn-text {
  min-width: 10em;
}

@media screen and (max-width: 720px) {
  /* .center-grid-btn .btn,
    .center-grid-btn .btn-click {
       width: 100%;
    } */
}
/* ------------------------- Work Tiles -------------------------------------------------- */

.work-tiles {
  padding-top: 0;
}

.work-tiles .container {
  padding-left: calc(var(--container-padding) * 0.75);
  padding-right: calc(var(--container-padding) * 0.75);
}

.work-tiles ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: var(--gap-padding);
}

.work-tiles ul li {
  display: block;
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 0;
  width: 0;
  transform: translateY(0%) rotate(0.001deg) scale(1);
  transition:
    opacity 0.3s ease-in 0.4s,
    transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.work-tiles ul li.visible {
  height: auto;
  width: 50%;
}

.work-tiles ul li.tile-fade-out {
  opacity: 0;
  transform: translateY(5em) rotate(0.001deg);
  transition:
    opacity 0.25s ease-out,
    transform 0s linear 0.3s;
}

.work-tiles ul li.tile-fade-in {
  opacity: 1;
  transform: translateY(5em) rotate(0.001deg) scale(1);
}

.work-tiles ul li .single-tile-wrap {
  width: 100%;
  padding-bottom: calc(var(--section-padding) * 1);
  padding-left: calc(var(--container-padding) * 0.25);
  padding-right: calc(var(--container-padding) * 0.25);
}

.work-tiles ul li a {
  align-items: center;
  color: unset;
  text-decoration: unset;
  overflow: hidden;
}

.work-tiles ul li a .flex-col:nth-child(1) {
  width: 100%;
  padding-bottom: var(--gap-padding);
}

.work-tiles ul li a .flex-col:nth-child(2) {
  width: 100%;
  padding-bottom: calc(var(--gap-padding) / 2);
}

.work-tiles ul li a .stripe {
  margin-top: calc(var(--gap-padding) / 2);
}

.work-tiles ul li a .flex-col:nth-child(3) {
  width: 70%;
}

.work-tiles ul li a .flex-col:nth-child(4) {
  width: 30%;
  text-align: right;
}

.work-tiles ul li a .tile-image {
  width: 100%;
  position: relative;
  background: var(--color-lightgray);
  overflow: hidden;
}

.work-tiles ul li a .tile-image .overlay-image {
  transform: scale(1) rotate(0.001deg);
  transition: var(--animation-primary);
  will-change: transform;
}

.work-tiles ul li a:hover .tile-image .overlay-image {
  transform: scale(1.025) rotate(0.001deg);
}

.work-tiles ul li a .tile-image::before {
  display: block;
  content: "";
  padding-top: 100%;
}

.work-tiles ul li a h4 {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
  transition: var(--animation-fast);
  transform: translateX(0) rotate(0.001deg);
  margin: 0;
}

.work-tiles ul li a h4 span {
  position: relative;
  display: block;
  padding: 0.1em 0;
}

@media screen and (max-width: 1024px) {
  .work-tiles ul li a h4 {
    font-size: calc(clamp(1.75em, 2.3vw, 2.5em) * 1.125);
  }
}

@media screen and (max-width: 620px) {
  .work-tiles ul li.visible {
    width: 100%;
  }

  .work-tiles .container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  .work-tiles ul li .single-tile-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .work-tiles ul li a:hover .tile-image .overlay-image {
    transform: scale(1) rotate(0.001deg);
  }

  .work-tiles ul li a .flex-col:nth-child(2) {
    width: 100%;
    padding-bottom: calc(var(--section-padding) / 6);
  }

  .work-tiles ul li a .stripe {
    margin-top: calc(var(--section-padding) / 6);
  }
}

/* ------------------------- Work Tiles - Home -------------------------------------------------- */

.work-tiles-home {
  display: none;
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .work-tiles-home {
    display: block;
  }

  .work-tiles-home + .center-grid-btn {
    padding-top: 0;
  }

  .work-tiles-home .container ul li:nth-child(3) {
    display: none;
  }

  .work-tiles-home .container ul li:nth-child(4) {
    display: none;
  }
}

/* ------------------------- Work Grid - Fade -------------------------------------------------- */

.grid-fade {
  height: 0;
  overflow: hidden;
  transform: translateY(0%) rotate(0.001deg) scale(1);
  transition:
    opacity 0.3s ease-in 0.4s,
    transform 1s cubic-bezier(0.16, 1, 0.3, 1);
  padding: 0;
}

.grid-fade.visible {
  height: auto;
}

.grid-fade.grid-fade-out {
  opacity: 0;
  transform: translateY(5em) rotate(0.001deg);
  transition:
    opacity 0.25s ease-out,
    transform 0s linear 0.3s;
}

.grid-fade.grid-fade-in {
  opacity: 1;
  transform: translateY(5em) rotate(0.001deg) scale(1);
}

@media screen and (max-width: 1024px) {
  .grid-fade {
    height: auto;
  }
}

/* ------------------------- Mouse Position Image -------------------------------------------------- */

.mouse-pos-list-image {
  width: 0;
  z-index: 25;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -52%);
  display: block;
  left: 55%;
  overflow: hidden;
  transition: width 0.4s cubic-bezier(0.36, 0, 0.66, 0);
  left: 0%;
  will-change: transform, width;
}

.mouse-pos-list-image.active {
  border-radius: 0;
  width: clamp(10em, 27.5vw, 25em);
  transition: width 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

.mouse-pos-list-image-bounce {
  overflow: hidden;
  transform: scale(1) rotate(0.001deg);
  transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}

.mouse-pos-list-image-bounce.active {
  transform: scale(1) rotate(0.001deg);
}

.mouse-pos-list-image::before {
  display: block;
  content: "";
  padding-top: 100%;
}

.mouse-pos-list-image .mouse-pos-list-image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mouse-pos-list-image .float-image-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  will-change: transform;
}

.mouse-pos-list-image .float-image-wrap .mouse-pos-list-image-inner {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}

.mouse-pos-list-image .float-image-wrap .mouse-pos-list-image-inner:before {
  display: block;
  content: "";
  padding-top: 100%;
}

.mouse-pos-list-image .float-image-wrap .mouse-pos-list-image-inner {
  width: 0;
}

.mouse-pos-list-image .float-image-wrap .mouse-pos-list-image-inner.visible {
  width: 100%;
}

@media screen and (max-width: 540px) {
  .mouse-pos-list-image {
    display: none;
  }
}

/* ------------------------- Mouse Position Button -------------------------------------------------- */

.mouse-pos-list-btn,
.mouse-pos-list-span {
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 0;
  background: var(--color-blue);
  position: fixed;
  z-index: 26;
  pointer-events: none;
  transform: translate(-50%, -60%);
  overflow: hidden;
  display: block;
  transition:
    width 0.4s cubic-bezier(0.36, 0, 0.66, 0),
    height 0.4s cubic-bezier(0.36, 0, 0.66, 0);
  left: 50.5%;
  top: -10%;
  left: -10%;
  left: 0%;
  top: 0%;
  will-change: transform, width, height;
}

.mouse-pos-list-span {
  background: transparent;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 49.75%;
  top: -11.25%;
  left: -11.25%;
  left: 0%;
  top: 0%;
}

.mouse-pos-list-span p {
  margin: 0;
}

.mouse-pos-list-span .arrow,
.btn .arrow {
  width: 0em;
  transform: rotate(-90deg) translateX(-0.05em);
  margin-left: 0.33em;
  display: inline-flex;
  position: relative;
  transition: width 0.4s cubic-bezier(0.36, 0, 0.66, 0);
  will-change: width;
}

.mouse-pos-list-span.active-big .arrow,
.btn .arrow {
  width: 0.66em;
  transition: width 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

.mouse-pos-list-btn.active,
.mouse-pos-list-span.active {
  width: clamp(3.75em, 5.5vw, 5em);
  height: clamp(3.75em, 5.5vw, 5em);
  transition:
    width 0.4s cubic-bezier(0.34, 1, 0.64, 1),
    height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

.mouse-pos-list-btn.active-big,
.mouse-pos-list-span.active-big {
  width: calc(clamp(3.75em, 5.5vw, 5em) * 1.66);
  height: calc(clamp(3.75em, 5.5vw, 5em) * 1.66);
  transition:
    width 0.4s cubic-bezier(0.34, 1, 0.64, 1),
    height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

.mouse-pos-list-btn.active-big.hover,
.mouse-pos-list-span.active-big.hover {
  width: calc(clamp(3.75em, 5.5vw, 5em) * 1.45);
  height: calc(clamp(3.75em, 5.5vw, 5em) * 1.45);
}

.mouse-pos-list-btn.active.pressed,
.mouse-pos-list-span.active.pressed {
  height: calc(clamp(3.75em, 5.5vw, 8em) * 1.4);
  width: calc(clamp(3.75em, 5.5vw, 8em) * 1.4);
}

.mouse-pos-list-btn.active-big.pressed,
.mouse-pos-list-span.active-big.pressed {
  height: calc(clamp(3.75em, 5.5vw, 8em) * 2);
  width: calc(clamp(3.75em, 5.5vw, 8em) * 2);
}

.mouse-pos-list-span.active,
.mouse-pos-list-span.active-big {
  border-radius: 0;
  width: clamp(10em, 27.5vw, 25em);
  transition:
    width 0.4s cubic-bezier(0.34, 1, 0.64, 1),
    height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

.mouse-pos-list-span p {
  font-size: 0em;
  transition: font-size 0.4s cubic-bezier(0.36, 0, 0.66, 0);
  will-change: font-size;
}

.mouse-pos-list-span.active p,
.mouse-pos-list-span.active-big p {
  font-size: 1em;
  transition: font-size 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

.load-icon {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0;
  background: var(--color-blue);
  position: fixed;
  pointer-events: none;
  transform: scale(0);
  overflow: hidden;
  display: block;
  right: var(--gap-padding);
  bottom: var(--gap-padding);
  z-index: 2000;
}

.load-icon svg {
  left: 25%;
  top: 25%;
  position: absolute;
  width: 50%;
  transform: rotate(0.0001deg);
  animation: rotateLoad 1s linear infinite;
}

@keyframes rotateLoad {
  0% {
    transform: rotate(0.0001deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 540px) {
  .mouse-pos-list-btn,
  .mouse-pos-list-span {
    display: none;
  }
}

/* ------------------------- About - Header -------------------------------------------------- */

.about-header {
  background: var(--color-white);
}

/* ------------------------- About - Stripe + Globe -------------------------------------------------- */

.line-globe {
  overflow: visible;
  z-index: 5;
}

@keyframes digitalball {
  0% {
    background: var(--color-blue);
  }
  50% {
    background: #ff4444;
  }
  100% {
    background: var(--color-blue);
  }
}

.digital-ball {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.digital-ball .overlay {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: digitalball 6s ease-in-out infinite;
}

.line-globe .digital-ball:hover .overlay {
  opacity: 1;
}

@keyframes globeBounce {
  0% {
    transform: translate(-50%, -40%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -40%);
  }
}

.globe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  will-change: transform;
}

@keyframes globe {
  0% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}

.globe-wrap {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 0.125em var(--color-white);
}

.globe .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0.1em 0px 0px 0.08em var(--color-white);
  animation: circle1 2.7s linear infinite;
  font-size: 0.75em;
}

@keyframes circle1 {
  0% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em var(--color-white);
    width: 100%;
  }
  49% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em var(--color-white);
    background: transparent;
  }
  50% {
    border-radius: 0%;
    width: 0.175em;
    background: var(--color-white);
  }
  51% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em var(--color-white);
    background: transparent;
  }
  100% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em var(--color-white);
    width: 100%;
  }
}

.globe :nth-child(1) {
  animation-delay: -1.8s;
}

.globe :nth-child(2) {
  animation-delay: -0.9s;
}

.globe .circle-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 55%;
  box-shadow: inset 0px 0px 0px 0.15em var(--color-white);
  font-size: 0.75em;
}

.globe .circle-hor-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 0%;
  height: 0.15em;
  background: var(--color-white);
  font-size: 0.75em;
}

@media screen and (max-width: 1000px) {
  .digital-ball {
    transform: translate(-20%, -50%);
  }
}
