@tailwind base;
@tailwind components;
@tailwind utilities;

/* set a navbar height of 85px as a variable */
:root {
  --navbar-height: 85px;
}

/* different container widths for tailwind responsiveness for default, sm, md, lg, xl, 2xl */
.master-container {
  @apply mx-auto px-4;
  @screen sm {
    max-width: 640px;
  }
  @screen md {
    max-width: 768px;
  }
  @screen lg {
    max-width: 1024px;
  }
  @screen xl {
    max-width: 1280px;
  }
  @screen 2xl {
    max-width: 1536px;
  }
}
