@tailwind base;
@tailwind components;
@tailwind utilities;

/* set a navbar height of 85px as a variable */
:root {
  --navbar-height: 85px;
}

/* custom viewport height class using  100 dvh and 100 vh as fallback */
.vh-100 {
  height: 100vh;
  height: 100dvh;
}
